.card-button {
    height: 24px;
    width: 24px;
    background-color: #313131;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px 8.5px;
    border-radius: 50%;
    margin-left: 20px;
}