.title {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  display: flex;
  padding: 0 0 23px 0;
  margin: 0;
  border-bottom: 1px solid  #DADADA;
  width: 100%;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 380px) {
  .title {
    padding-bottom: 28px;
    font-size: 18px;
    line-height: 22px;
  }
}