.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main_type_main {}

.main_type_auth {
  padding: 70px 0 70px 0;
  display: flex;
  flex-direction: column;
  max-width: 396px;
}

.main_type_profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 0 74px 0;
}

.main_type_movies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 70px 80px;
  max-width: calc(100% - 140px);
}

@media screen and (max-width: 800px) {
  .main_type_auth {
    padding-top: 232px;
  }

  .main_type_movies {
    padding: 80px 30px;
    max-width: calc(100% - 60px);
  }
}

@media screen and (max-width: 550px) {
  .main_type_movies {
    padding-right: 10px;
    padding-left: 10px;
    max-width: calc(100% - 20px);
  }
}

@media screen and (max-width: 450px) {
  .main_type_auth {
    padding-top: 56px;
    max-width: 260px;
    align-items: center;
  }
}