.portfolio {
  padding: 0 70px 125px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 140px);
}

.portfolio__title {
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #8B8B8B;
  margin: 0 0 50px 0;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  text-decoration: none;
  color: #fff;
  padding: 0 0 19px 0;
  margin: 20px 0 0 0;
  border-bottom: 1px solid #424242;
}

.portfolio__link:first-of-type {
  margin-top: 0;
}

.portfolio__link:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.portfolio__arrow {
  height: 17px;
  width: 18px;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 4px 6px 0;
}