.portfolio {
  padding: 0 70px 125px;
  display: flex;
  flex-direction: column;
  width: calc(100% - 140px);
}

.portfolio__title {
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #8B8B8B;
  margin: 0 0 50px 0;
}

.portfolio__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  text-decoration: none;
  color: #fff;
  padding: 0 0 19px 0;
  margin: 20px 0 0 0;
  border-bottom: 1px solid #424242;
  transition: opacity 0.5s linear;
}

.portfolio__link:hover {
  opacity: 0.6;
}

.portfolio__link:first-of-type {
  margin-top: 0;
}

.portfolio__link:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.portfolio__arrow {
  height: 17px;
  width: 18px;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 4px 6px 0;
}

@media screen and (max-width: 800px) {
  .portfolio {
    padding: 0 50px 90px;
    width: calc(100% - 100px);
  }

  .portfolio__link {
    font-size: 28px;
  }
}

@media screen and (max-width: 500px) {
  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
  }
}

@media screen and (max-width: 380px) {
  .portfolio {
    padding: 0 14px 70px;
    width: calc(100% - 28px);
  }

  .portfolio__title {
    font-size: 14px;
    margin-bottom: 40px;
  }

  .portfolio__arrow {
    width: 11px;
    height: 12px;
  }
}