.navigation {
  display: flex;
  width: 100%;
}

.navigation__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0 0 0 44px;
}

.navigation__list-element {}

.navigation__link {
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin-right: 16px;
}

.navigation__list-element:first-child {
  display: none;
}


.navigation__link_type_active {
  font-weight: 500;
}

.navigation_type_column {
  flex-direction: column;
  margin-top: 105px;
  height: 100%;
}

.navigation__list_type_column {
  flex-direction: column;
  align-items: center;

}

@media screen and (max-width: 800px) {
  .navigation__list-element:first-child {
    display: flex;
  }

  .navigation__list-element {
    display: flex;
  }

  .navigation__link {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 28px;
    margin-right: 0;
    font-weight: 500;

  }

  .navigation__link_type_active {
    padding-bottom: 2px;
    border-bottom: 2px solid #fff;
  }
}