.button-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
  border-left: none;
  border-right: none;
  height: 21px;
  width: 28px;
  padding: 0;
  background-color: transparent;
}

.button-menu__line {
  width: 100%;
  height: 3px;
  background-color: #fff;
}