.techs {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: calc(100% - 140px);
  padding: 100px 70px;
  background-color: #272727;
}

.techs_title {
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  text-align: center;
  margin: 90px 0 26px 0;
}

.techs_subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.04em;
  width: 100%;
  max-width: 460px;
  text-align: center;
  margin: 0;
}

.techs__list {
  list-style: none;
  padding: 0;
  margin: 100px 0 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 90px));
  width: 100%;
  max-width: 690px;
  grid-column-gap: 10px;
  justify-content: center;
}

.techs__list-item {
  display: flex;
  width: 100%;
  max-width: 90px;
  background-color: #303030;
  border-radius: 10px;
  justify-content: center;
  padding: 21px 0 22px 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 840px) {
  .techs {
    padding: 90px 50px;
    width: calc(100% - 100px);
  }
  .techs_title {
    margin-top: 80px;
    margin-bottom: 22px;
  }
  .techs_subtitle {
    font-size: 12px;
    line-height: 18px;
  }
  .techs__list {
    margin-top: 83px;
    justify-content: center;
    max-width: 100%;
    grid-row-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(84px, 84px));
  }
  .techs__list-item {
    font-size: 12px;
    line-height: 15px;
    max-width: 84px;
  }
}

@media screen and (max-width: 380px) {
  .techs {
    padding: 70px 18px;
    width: calc(100% - 36px);
  }
  .techs_title {
    font-size: 30px;
    line-height: 36px;
    margin-top: 60px;
    margin-bottom: 24px;
  }
  .techs_subtitle {
    font-size: 11px;
    line-height: 16px;
  }
  .techs__list {
    max-width: 180px;
    margin-top: 50px;
  }
}
